<div class="container">

  <div class="search">
    <%= form_for Link.new, url: '/' do |form| %>

      <%= form.text_field :original_url %><br>

      <%= form.submit "Shorten" %>

    <% end %>
  </div>

</div>
